* {
    box-sizing: border-box;
    margin: 0;
}

/* *Variables */

:root {
    /* Primary */

    --First-primary-color: hsl(263, 55%, 52%);
    --Second-primary-color: hsl(217, 19%, 35%);
    --Third-primary-color: hsl(219, 29%, 14%);
    --Fourth-primary-color: hsl(0, 0%, 100%);

    /* Neutral */
    --First-neutral-color: hsl(0, 0%, 81%);
    --Second-neutral-color: hsl(210, 46%, 95%);

    /* Opacity */
    --First-opacity: hsla(210, 46%, 95%, 0.5);
}

/* *Reset styles */
body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    background-color: var(--Second-neutral-color);
}

p {
    margin: 0;

}

/* *Bootstrap styles */


/* *My styles */

.box-1 {
    width: 329px;
    height: 446px;
    background-color: var(--First-primary-color);
    border-radius: 10px;
    margin: 13px 13px;

    background-image: url(../images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top right 26px;
}

.box-2 {
    width: 329px;
    height: 242px;
    background-color: var(--Second-primary-color);
    border-radius: 10px;
    margin: 13px 13px;
}

.box-3 {
    width: 329px;
    height: 225px;
    background-color: var(--Fourth-primary-color);
    border-radius: 10px;
    margin: 13px 13px;
}

.box-3 p {
    color: var(--Second-primary-color);
}

.box-4 {
    width: 329px;
    height: 386px;
    background-color: var(--Third-primary-color);
    border-radius: 10px;
    margin: 13px 13px;
}

.box-5 {
    width: 329px;
    height: 440px;
    background-color: var(--Fourth-primary-color);
    border-radius: 10px;
    margin: 13px 13px;
}

.box-5 p {
    color: var(--Second-primary-color);
}

.title-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
}

.p-name {
    color: var(--Second-neutral-color);
    margin-top: 20px;
}

.p-graduate {
    color: var(--Second-neutral-color);
    opacity: 0.5;
    font-size: 11px;
    margin-bottom: 13px;
}

.p-review {
    color: var(--Second-neutral-color);
    font-size: 20px;
    line-height: normal;
    padding: 0 35px;
    margin-bottom: 20px;
}

.p-quote {
    color: var(--Second-neutral-color);
    line-height: 18px;
    opacity: 0.5;
    padding-left: 30px;
    padding-right: 53px;
}

.box-4 .p-quote {
    padding-right: 37px;
}

.border-img {
    border: 2px solid var(--First-opacity);
}

.m-img {
    margin-top: 20px;
    margin-bottom: 13px;
    padding-left: 28px;
}

/* *Breakpoints */
/* sm */
@media (min-width: 576px) {}

/* md */
@media (min-width: 768px) {}

/* lg */
@media (min-width: 992px) {}

/* xl */
@media (min-width: 1200px) {

    .box-1 {
        width: 540px;
        height: 280px;
        background-position: top right 82px;
    }

    .box-2 {
        width: 255px;
        height: 280px;
    }

    .box-3 {
        width: 255px;
        height: 280px;
    }

    .box-4 {
        width: 540px;
        height: 280px;
    }

    .box-5 {
        width: 255px;
        height: 586px;
    }

    .box-1 .p-quote {
        padding-right: 27px;
    }

    .box-2 .p-quote {
        padding-right: 30px;
    }

    .box-3 .p-quote {
        padding-right: 30px;
    }

    .box-5 .p-quote {
        padding-right: 30px;
    }

    .lg-height {
        height: 100vh;
    }
}

/* xxl */
@media (min-width: 1400px) {}