*{
    box-sizing: border-box;
    margin: 0;
}

/* *Variables */

:root{
    /* Primary */

    --First-primary-color: hsl(263, 55%, 52%);
    --Second-primary-color: hsl(217, 19%, 35%);
    --Third-primary-color: hsl(219, 29%, 14%);
    --Fourth-primary-color: hsl(0, 0%, 100%);

    /* Neutral */
    --First-neutral-color: hsl(0, 0%, 81%);
    --Second-neutral-color: hsl(210, 46%, 95%);

    
}

/* *Reset styles */
body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
}

/* *Bootstrap styles */


/* *My styles */

.box-1{
    width: 329px;
    height: 446px;
    background-color: red;
}

.box-2{
    width: 329px;
    height: 242px;
    background-color: red;
}

.box-3{
    width: 329px;
    height: 225px;
    background-color: red;
}

.box-4{
    width: 329px;
    height: 386px;
    background-color: red;
}

.box-5{
    width: 329px;
    height: 440px;
    background-color: red;
}


/* *Breakpoints */
/* sm */
@media (min-width: 576px) {}

/* md */
@media (min-width: 768px) {}

/* lg */
@media (min-width: 992px) {}

/* xl */
@media (min-width: 1200px) {

    .box-1{
        width: 540px;
        height: 280px;
        background-color: red;
    }
    
    .box-2{
        width: 255px;
        height: 280px;
        background-color: red;
    }
    
    .box-3{
        width: 255px;
        height: 280px;
        background-color: red;
    }
    
    .box-4{
        width: 540px;
        height: 280px;
        background-color: red;
    }
    
    .box-5{
        width: 255px;
        height: 570px;
        background-color: red;
    }
}

/* xxl */
@media (min-width: 1400px) {}